*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.jpg
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.pdf
*.png
*.doc
*.docx
*.fdb_latexmk
*.fls
*.eps
*.dtx
*.cls
*.el
*.rip
*.subl*
*.bcf
*.xdy
*.kile*
*.run*
*.project*
*.xmind*
*.ins*
make
*.synctex.gz
